@import './_expanded/audioplayer_expanded.css';
@import './_collapsed/audioplayer_collapsed.css';

.audioplayer {
  min-width: 290px;
  max-width: 1280px;
  min-height: 35px;
  box-sizing: border-box;
  margin: 0 auto;
  box-sizing: border-box;
}


/*
expanded-box  - grid-area: expanded-box,
expander-button - grid-area: expander-button,
play-button - grid-area: play-button,
switch-button - grid-area: swithc-button 
*/