.switch-button {
  padding: 2px;
  border: 2px solid #fff;
  border-radius: 30px;
  grid-area: switch-button;
  background-color: transparent;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  white-space: nowrap;
  text-align: center;
  transition: opacity 0.1s linear 0.05s;
  cursor: pointer;
  box-sizing: border-box;

  height: 31px;
  min-width: 125px;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  margin-top: 21px;
}

.switch-button:hover {
  opacity: 0.6;
  font-style: italic;
}

.switch-button:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  .switch-button {
    height: 34px;
    width: 125px;
    font-size: 15px;
    line-height: 19px;
    margin-top: 0px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .switch-button {
    height: 35px;
    width: 135px;
    font-size: 16px;
    line-height: 20px;
  }
}
