.song__artist{
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap
}

@media screen and (max-width: 1024px) {
  .song__artist{
    font-size: 18px;
    line-height: 22px;
}

}
@media screen and (max-width: 450px) {
  .song__artist{
    font-size: 14px;
    line-height: 19px;
}
}