.cover {
  grid-area: cover;
  width: 240px;
  height: 240px;
  border-radius: 4px;
  margin: 0 auto;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .cover {
    width: 112px;
    height: 112px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
} 

@media screen and (min-width: 1024px) {
  .cover {
    width: 164px;
    height: 164px;
    padding-top: 0;
    padding-right: 0;
    padding-left: 25px;
  }
} 

@media screen and (min-width: 1280px) {
  .cover {
    width: 176px;
    height: 176px;
  }
} 
