.audioplayer__controls{
  width: 1200px;
  height: 44px;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

/* button:before {
  font-family: HeydingsControlsRegular;
  font-size: 20px;
  position: relative;
  content: attr(data-icon);
  color: #aaa;
  text-shadow: 1px 1px 0px black;
} */