.audioplayer__play{
  width: 32px;
  height: 28px;
  background-image: url('../../../images/playButton.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  border-color: transparent;
  cursor: pointer;
}
.audioplayer__play:focus{
outline: none;
}


@media screen and (max-width: 350px) {
  .audioplayer__play{
    width: 18px;
  height: 14px;
}
}