@import url('./__article/articles__article.css');
@import url('./__heading/articles__heading.css');
@import url('./__paragraph/articles__paragraph.css');
@import url('./__list/articles__list.css');
@import url('./__list-item/articles__list-item.css');

.articles {
    min-width: 270px;
    max-width: 100%;
    color: #000;
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
}

@media screen and (min-width: 1024px) {
    .articles {
        width: 75%;
    }
}

@media screen and (min-width: 1280px) {
    .articles {
        width: 65%;
    }
}