.articles__list-item {
    margin: 14px 0 0;
    color: #000;
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.articles__list-item::before {
    content: "•";
    padding-right: 5px;
}

@media screen and (min-width: 768px) {
    .articles__list-item  {
        font-size: 15px;
        line-height: 22px;
    }
}

@media screen and (min-width: 1280px) {
    .articles__list-item  {
        font-size: 16px;
    }
}

.articles__list-item:first-of-type {
    margin-top: 0;
}

