.playlist {
  font-family: "Inter", "Helvetica", sans-serif;
  color: #fff;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin: 0 0 10px;
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .playlist {
    font-size: 18px;
    line-height: 27px;
  }
}

@media screen and (min-width: 1280) {
  .playlist {
    font-size: 20px;
    line-height: 27px;
  }
}
