.form__link {
    font-size: 12px;
    line-height: 22px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid black;
}

@media screen and (min-width: 768px) {
    .form__link {
        font-size: 15px;
    }
}

@media screen and (min-width: 1280px) {
    .form__link {
        font-size: 16px;
    }
}