.audioplayer__stop{
  width: 32px;
  height: 28px;
  background-image: url('../../../images/stopButton.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  border-color: transparent;
  cursor: pointer;
}

.audioplayer__stop:focus{
  outline: none;
}

@media screen and (max-width: 350px) {
  .audioplayer__stop{
  width: 18px;
  height: 14px;
  background-size: cover;
}
}