.audioplayer_expanded {
  display: grid;
  grid-template-columns: 40px min-content 1fr 40px;
  grid-template-rows: 35px min-content min-content min-content;
  grid-template-areas:
    "play-button song          song             expander-button"
    ".           cover         cover            ."
    ".           video-button  switch-button    ."
    ".           expanded-box  expanded-box     .";
}

@media screen and (min-width: 768px) {
  .audioplayer_expanded {
    display: grid;
    grid-template-columns: 60px min-content 1fr min-content min-content 69px;
    grid-template-rows: 37px min-content;
    grid-template-areas:
      "play-button song  song         video-button switch-button expander-button"
      ".           cover expanded-box expanded-box expanded-box  .";
  }
}

@media screen and (min-width: 1024px) {
  .audioplayer_expanded {
    display: grid;
    grid-template-columns: min-content 60px 1fr min-content min-content 69px;
    grid-template-rows: 37px min-content;
    grid-template-areas:
    "cover play-button song         video-button switch-button expander-button"
    "cover .           expanded-box expanded-box expanded-box  ."
  }
}
