.audioplayer_expanded {
  display: grid;
  grid-template-columns: 40px min-content 1fr 40px;
  grid-template-rows: 35px min-content min-content min-content;
  grid-template-areas:
    "play-button song          song             expander-button"
    ".           cover         cover            ."
    ".           video-button  switch-button    ."
    ".           expanded-box  expanded-box     .";
  /*От этого надо уйти в react-spring*/
  animation-name: audioplayerAnimation;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@media screen and (min-width: 768px) {
  .audioplayer_expanded {
    display: grid;
    grid-template-columns: 60px min-content 1fr min-content min-content 69px;
    grid-template-rows: 37px min-content;
    grid-template-areas:
      "play-button song  song         video-button switch-button expander-button"
      ".           cover expanded-box expanded-box expanded-box  .";
  }
}

@media screen and (min-width: 1024px) {
  .audioplayer_expanded {
    display: grid;
    grid-template-columns: min-content 60px 1fr min-content min-content 69px;
    grid-template-rows: 37px min-content;
    grid-template-areas:
    "cover play-button song         video-button switch-button expander-button"
    "cover .           expanded-box expanded-box expanded-box  ."
  }
}
/*От этого надо уйти в react-spring*/
@keyframes audioplayerAnimation {
  0% {
    height: 50px;
  }
  20% {
    height: 100px;
  }
  45% {
    height: 150px;
  }
  100% {
    height: 200px;
  }
}
