.content-box {
    min-width: 310px;
    max-width: 1260px;
    padding: 80px 20px;
    background-color: #fff;
    box-sizing: border-box;
    font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
    color: #000;
    border-radius: 8px;
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (min-width: 320px) {
    .content-box {
        padding: 80px 20px;
    }
}

@media screen and (min-width: 768px) {
    .content-box {
        padding: 100px 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1280px) {
    .content-box {
        padding: 110px 50px;
    }
}

