.video-button {
  grid-area: video-button;
  padding: 4px;
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: #fff;
  transition: opacity 0.1s linear 0.05s;
  cursor: pointer;
  box-sizing: border-box;

  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-style: normal;
  color: #000;
  font-size: 12px;
  line-height: 15px;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;

  height: 31px;
  width: 74px;

  margin-top: 20px;
  margin-bottom: 30px;
  margin-right: 5px;
}

.video-button:hover {
  opacity: 0.6;
  font-style: italic;
}

.video-button:focus {
  outline: none;
}

@media screen and (min-width: 768px) {
  .video-button {
    font-size: 15px;
    line-height: 19px;
    height: 34px;
    width: 87px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .video-button {
    font-size: 16px;
    line-height: 20px;
    height: 35px;
    width: 94px;
  }
}
