@import url('./_type/expander-button_type-arrow.css');
@import url('./_type/expander-button_type-cross.css');

.expander-button {
  box-sizing: border-box;
  width: 32px;
  height: 28px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  grid-area: expander-button;
  transition: opacity .1s linear .1s;
  padding: 0;
  background-size: contain;
  margin-left: 20px;
}

.expander-button:focus {
  outline: none;
}

.expander-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .expander-button {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 600px) {
  .expander-button {
    width: 16px;
    height: 16px;
    margin-left: 11px;
  }
}
