@import url('./_type/expander-button_type-arrow.css');
@import url('./_type/expander-button_type-cross.css');

.expander-button {
  width: 32px;
  height: 28px;
  margin-left: 26px;
  background-color: transparent;
  background-repeat: no-repeat;
  border-color: transparent;
  cursor: pointer;
  transition: opacity .1s linear .1s;
}

.expander-button:focus {
  outline: none;
}

.expander-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .expander-button {
    width: 24px;
    height: 24px;
    background-position: center;
  }
}

@media screen and (max-width: 600px) {
  .expander-button {
    margin-right: 13px;
    margin-left: 11px;
    width: 16px;
    height: 16px;
    background-size: contain;
  }
}
