@import url('./__title/song__title.css');
@import url('./__timer/song__timer.css');
@import url('./__progress-bar/song__progress-bar.css');
@import url('./__progress-knob/song__progress-knob.css');
@import url('./__container/song__container.css');
@import url('./__titles/song__titles.css');

.song {
  box-sizing: border-box;
  min-width: 240px;
  height: 35px;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: song;
}

@media screen and (min-width: 768px) {
  .song {
    height: 37px;
  }
}

@media screen and (min-width: 1280px) {
  .song {
    height: 39px;
  }
}

