@import url('./__artist/song__artist.css');
@import url('./__title/song__title.css');

.song{
  width: 100%;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  font-family: 'Inter', 'Helvetica', sans-serif;
}