@import './__play/play-button__play.css';
@import './__pause/play-button__pause.css';

.play-button {
  border: 0;
  background-color: transparent;
  grid-area: play-button;
  cursor: pointer;
  box-sizing: border-box;
  transition: opacity .1s linear .1s;
  margin-left: 15px;
  padding: 0;
}

.play-button:focus {
    outline: none;
}

.play-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .play-button {
    margin-left: 25px;
  }
}
