.song__title{
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  margin: 0
}

@media screen and (max-width: 650px) {
  .song__title{
  font-size: 16px;
}

}
@media screen and (max-width: 410px) {
  .song__title{
    font-size: 14px;
    line-height: 19px;
}
}