.song__title {
  color: #fff;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}

@media screen and (min-width: 768px) {
  .song__title {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 320px) {
  .song__title {
    font-size: 20px;
    line-height: 24px;
  }
}

