.audioplayer__menu{
  width: 32px;
  height: 28px;
  margin-left: 26px;
  background-image: url('../../../images/arrow.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  border-color: transparent;
  cursor: pointer;
}
.audioplayer__menu:focus{
outline: none;
}

@media screen and (max-width: 768px) {
  .audioplayer__menu{
  width: 24px;
  height: 24px;
  background-position: center;
}
}

 @media screen and (max-width: 600px) {
  .audioplayer__menu{
  margin-right: 13px;
  margin-left: 11px;
  width: 16px;
  height: 16px;
  background-size: contain;
}
}
