.audioplayer__menu{
  width: 32px;
  height: 28px;
  margin-left: 20px;
  background-image: url('../../../images/arrow.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  border-color: transparent;
  cursor: pointer;
}
.audioplayer__menu:focus{
outline: none;
}

/* @media screen and (max-width: 600px) {
  .audioplayer__menu{
  margin-left: 12px;
  width: 16px;
}
}
@media screen and (max-width: 550px) {
  .audioplayer__menu{
    margin-left: 12px;
    width: 16px;
    height: 16px;
}
} */