@import url('./__heading/expanded-box__heading.css');
@import url('./__text/expanded-box__text.css');

.expanded-box {
  max-height: 104px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  height: 80px;
  grid-area: expanded-box;
  font-family: 'Inter', 'Helvetica', 'Arial', sans-serif;
  color: #fff;
  /* styling scrollbar for firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(243, 243, 243, 0.1);
  animation: audioplayerAnimation 1000ms ease-out ;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .expanded-box {
    margin-top: 28px;
    height: 96px;
  }
}

@media screen and (min-width: 1280px) {
  .expanded-box {
    height: 104px;
  }
}

/* styling scrollbar for chrome and safari */
.expanded-box::-webkit-scrollbar-track {
  border-radius: 3px;
  border: 3px solid rgba(243, 243, 243, 0.1);
  background-color: transparent;
}

.expanded-box::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.expanded-box::-webkit-scrollbar-thumb {
  border-radius: 3px;
  border: 3px solid rgba(255, 255, 255, 0.3);
}

@keyframes audioplayerAnimation {
  0% {
    opacity: 0;
    /* transform: translateY(100px); */
  }
  20% {
    opacity: 0.3;
    /* transform: translateY(100px); */
  }
  45% {
    opacity: 0.6;
    /* transform: translateY(100px); */
  }
  100% {
    opacity: 1;
    /* transform: translateY(0); */
  }
  }