@import url('./__time/bar__time.css');
@import url('./__progress/bar__progress.css');

.bar {
  user-select: none;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
